body {
    background-image: url(image/bg.png);
    font-family: 'UnifrakturCook', cursive;
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: black;
    text-shadow: white 0 0 3px;
}

#block {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    padding: 10px;
    background-image: linear-gradient(-110deg, #244974, #6b93c8);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fixation {
    position: relative;
}

.square {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #b42d44;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.square img {
    width: 150px;
    height: 150px;
    display: none;
}

.square:hover {
    cursor: pointer;
}

.square.open img {
    display: block;
    cursor: default;
}

@media screen and (max-width: 700px) {
    #block {
        width: 320px;
    }

    .square {
        width: 70px;
        height: 70px;
        margin: 5px;
    }

    .square img {
        width: 70px;
        height: 70px;
    }
}

.window-end {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #333, $alpha: 0.5);
}

.end-image {
    padding: 20px;
}

.end-image img {
    width: 400px;
}

.end-text {
    font-size: 50px;
    text-shadow: white 0 0 3px;
    padding: 30px;
}

.end-text p {
    margin: 10px;
}

.close {
    align-self: start;
    margin-top: 10%;
    cursor: pointer;
}

.close img {
    width: 70px;
    height: 70px;
}

.close img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

.none {
    display: none;
}





















